@model IEnumerable<IS_BartenderAppProject_MV.Models.Drink>

@{
    ViewData["Title"] = "Employee Portal";
}

<h1>Employee Portal</h1>

<div class="btn btn-primary">
    <a class="nav-link text-white" asp-action="Upsert">Add New Drink to Menu</a>
</div>

<div class="btn btn-success">
    <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">View Employee Orders</a>
</div>

<h3>Menu</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrinkCost)
                </td>
                <td>
                    <a asp-action="Upsert" asp-route-id="@item.DrinkId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DrinkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DrinkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
